.framepage-main {
  margin: 12px 24px;
  padding: 24px;
  padding-bottom: 0;
  margin-bottom: 5px;
  background-color: #fff;
  min-height: 280px;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.framepage-main-secondary {
  margin: 12px 24px;
  padding: 24px;
  padding-bottom: 0;
  margin-bottom: 5px;
  background-color: #F0F2F5;
  min-height: 280px;
 
}

.framepage-main.loading {
  background-color: #F0F2F5
}