.cardContent{
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
}

.cardJustificativa{
  width: 100%;
  line-height: 70px;

}
.listaAnexos{
  width: 100%;
  margin-bottom: 20px;
  margin-top: 15px;
  padding-left: 20px;
}
.dataFinalizacao{
  font-size:95%
}