.headerText {
  flex: 1;
  margin-bottom: 5px;

  label {
    font-weight: bold;
  }
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.inputContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
}