.imgWrapper > img{
  width: 250px;
}

.resumo{

  max-height: 700px;
  overflow-y: scroll;
  & > div{
    margin-bottom: 30px !important;
  }
}

.dadosCliente{
  
  & > div{
    margin: 15px 0;
  }

}
.dadosBrinde{
  display: flex;
  justify-content: center;
  align-items: center;
}