.imgWrapper {
  display: flex;
  flex-wrap: wrap;
}

.imgWrapper img {
  width: 412px;
  height: 275px;
}

.cardAvaliacao {
  cursor: pointer;
}

.avaliacaoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlayNaoSelecionado {
  display: none;
}

.overlaySelecionado {
  background: rgba(221, 219, 219, 0.75);

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.cardFooter {
  display: flex;
}

.sortingWrapper {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all;
}

.sortingWrapper img {
  animation: shaking 1s infinite alternate;
}

.finalizarAvaliacaoImgWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finalizarAvaliacaoImgWrapper img {
  width: 35%;
}

.finalizarAvaliacaoTxtWrapper {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.finalizarAvaliacaoBtnWrapper {
  margin-top: 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.wrapperActionsCard {
  cursor: default;
}

.tituloAvaliacao {
  font-size: 17px;
  margin-bottom: 0px !important;
  font-weight: bold;
}

@keyframes shaking {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(15deg);
  }
}
