.bbAmarelo {
  color: #FCFC30;
}

.bbBGAmarelo {
  background-color: #FCFC30;
  border-color: #FCFC30;
}

.bbAzul {
  color: #002D4B;
}

.bbBGAzul {
  background-color: #002D4B;
  border-color: #002D4B;
}

.bbBranco {
  color: #FFFFFF;
}

.bbBGBranco {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.bbCinzaClaro {
  color: #AFAFAF;
}

.bbBGCinzaClaro {
  background-color: #AFAFAF;
  border-color: #AFAFAF;
}

.bbCinzaEscuro {
  color: #69696E;
}

.bbBGCinzaEscuro {
  background-color: #69696E;
  border-color: #69696E;
}

.bbRosaClaro {
  color: #DCA09B;
}

.bbBGRosaClaro {
  background-color: #DCA09B;
  border-color: #DCA09B;
}

.bbRosaEscuro {
  color: #B47D7D;
}

.bbBGRosaEscuro {
  background-color: #B47D7D;
  border-color: #B47D7D;
}

.bbRoxoClaro {
  color: #B4AFD2;
}    

.bbBGRoxoClaro {
  background-color: #B4AFD2;
  border-color: #B4AFD2;
}    

.bbRoxoEscuro {
  color: #9187AF;
}    

.bbBGRoxoEscuro {
  background-color: #9187AF;
  border-color: #9187AF;
}    

.bbVerdeClaro {
  color: #87C3BE;
}    

.bbBGVerdeClaro {
  background-color: #87C3BE;
  border-color: #87C3BE;
}    

.bbVerdeEscuro {
  color: #5AAAA0;
}    

.bbBGVerdeEscuro {
  background-color: #5AAAA0;
  border-color: #5AAAA0;
}    

.vermelho {
  color: red !important;
}

.vermelhoBG {
  background-color: red !important;
  border-color: red !important;
}

.verde {
  color: #28A726;
}

.amarelo {
  color: #CEB11A;
}

.azul {
  color: #1890FF;
}