.imgWrapper > img{
  width: 420px;
}

.paragraph{
  text-align: justify;
}

.searchButton{
  margin-left: 10px;
}

.listagemBrindes{
  background-color: #f0f0f0;
  min-height: 450px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-height: 450px;
  overflow-y: scroll;
  &:after{
    content: ' ';
    display: block;    
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

