.prefixoPesquisa {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}
.pontuacaoClassificacao {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}
.pontuacao {
  font-size: 1.5em;
  color: white;
  width: min-content;
}
.pontuacaoValores {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  font-size: 1.8em;
  width: min-content;
  color: white;
  border-style: solid;
  border-width: 0.25px;
  margin: 0px 10px;
  padding: 0px 5px;
}
.classificacao {
  font-size: 1.5em;
  color: white;
  width: min-content;
}
.classificacaoValores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  width: 100%;
  font-size: 1.5em;
  color: white;
  border-style: solid;
  border-width: 0.25px;
  margin: 0px 10px;
  padding: 0px 5px;
}
.tamanhoFull {
  width: 100%;
}
.fonte2x { 
  font-size: 2em;
};
.tituloIndicador {
  width: 100%;
  font-size: 1.5em;
}
.indicadores {
  width: 100%;
  background-color: #F0F2F5;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.indicadoresZebrado {
  width: 100%;
  background-color: #e0e0e0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cardIndicador {
  width: 380px;
  margin: 20px 0px;
  background-color: white;
}
.pesquisa {
  display: flex;
  flex-wrap: nowrap;
  width: 50%;
  align-items: center;
}
.atingimentoRealizado {
  width: 8px;
  height: 10px;
  background-color: #1890FF; 
  border-color: #1890FF;
;
}

.atingimentoMedia {
  width: 8px;
  height: 10px;
  background-color: #AFAFAF; 
  border-color: #AFAFAF;
}