.pgheader-container {
  border-bottom: 1px solid #d6d6d6;
  background-color: #E7E9ED;
  padding-top: 8px;
  padding-bottom: 8px;
}

.pgheader-icon {
  font-size: 15px;
}

.ant-page-header .ant-breadcrumb {
    margin-bottom: 5px;
}

.pgheader-icon > span.anticon {
  vertical-align: middle;
}